<app-header></app-header>

<div class="title-cadastro">
  Cadastrar Usuário
</div>


<form [formGroup]="form">
<div class="content-cadastro">
  <div class="content-form-cadastro">

    <div class="content-inputs">

      <div class="input-label">
        <label for="">Nome</label>
        <input type="text" formControlName="nome">
      </div>

      <div class="input-label">
        <label for="">Usuário</label>
        <input type="text" formControlName="usuario">
      </div>

    </div>
    <div class="content-inputs mt-4">

      <div class="input-label">
        <label for="">Senha</label>
        <input type="password" formControlName="senha">
      </div>

      <div class="input-label">
        <label for="">E-mail</label>
        <input style="color: rgb(141, 141, 141);" type="text" disabled [value]="usuario.email ? usuario.email : ''">
      </div>

    </div>
    <div class="content-inputs mt-4">

      <div class="input-label">
        <label for="">Nível de acesso</label>
        <select formControlName="nivel_acesso">
          <option value="">Selecione uma opção</option>
          <option value="{{item.nome}}" *ngFor="let item of nivel_acesso">{{item.nome}}</option>
        </select>
      </div>

      <div class="input-label">
        <label for="">Status</label>
        <select formControlName="status">
          <option value="">Selecione uma opção</option>
          <option value="true">Ativo</option>
          <option value="false">Inativo</option>
        </select>
      </div>

    </div>

    <div class="content-inputs mt-5">

      <button class="btn-voltar" (click)="voltar()">Voltar</button>
      <button class="btn-salvar" (click)="editar()">Salvar</button>

    </div>

  </div>
</div>
</form>
