<app-header-site></app-header-site>

<div class="banner">
  <img [src]="fotos[0].file" alt="Banner Image" class="banner-img">
  <div class="banner-text">
    <h1>{{ viagem.titulo }}</h1>
    <h3>{{viagem.data_ida | date:'dd/MM/yyyy'}} a {{viagem.data_volta | date:'dd/MM/yyyy'}}</h3>
  </div>
</div>


<div class="container d-flex align-center justify-content-center">
  <div class="body-viagem">

    <div class="box-valor">
      <strong style="font-size: 30px;">R$ {{viagem.preco}}</strong>
      <div>
        Até <strong>{{viagem.parcelamento}} de R${{viagem.valor_parcela}}</strong> sem juros
      </div>
      <div>
        {{viagem.data_ida | date:'dd/MM/yyyy'}} a {{viagem.data_volta | date:'dd/MM/yyyy'}}
      </div>
      <button class="button_whats" (click)="openModal(venda)">SAIBA MAIS</button>
    </div>

    <div class="text-infos">
      <div class="info-section">
        <h1 style="font-weight: bold; margin-bottom: 20px;">Sobre o destino</h1>
        <div style="margin-bottom: 40px;" [innerHTML]="viagem.sobre_destino"></div>
        <hr style="width: 100%; height: 2px; background-color: black; opacity: 9;">
        <h1 style="font-weight: bold; margin-bottom: 20px;">Roteiro</h1>
        <div style="margin-bottom: 40px;" [innerHTML]="viagem.roteiro"></div>
        <hr style="width: 100%; height: 2px; background-color: black; opacity: 9;">
        <h1 style="font-weight: bold; margin-bottom: 20px;">O que levar?</h1>
        <div style="margin-bottom: 40px;" [innerHTML]="viagem.levar"></div>
        <hr style="width: 100%; height: 2px; background-color: black; opacity: 9;">
        <h1 style="font-weight: bold; margin-bottom: 20px;">Serviços</h1>
        <div style="margin-bottom: 40px;" [innerHTML]="viagem.servicos"></div>
        <hr style="width: 100%; height: 2px; background-color: black; opacity: 9;">
        <h1 style="font-weight: bold; margin-bottom: 20px;">Documentos</h1>
        <div style="margin-bottom: 40px;" [innerHTML]="viagem.documentos"></div>
        <hr style="width: 100%; height: 2px; background-color: black; opacity: 9;">
        <h1 style="font-weight: bold; margin-bottom: 20px;">Passeios opcionais</h1>
        <div style="margin-bottom: 40px;" [innerHTML]="viagem.passeios_opcionais"></div>
        <hr style="width: 100%; height: 2px; background-color: black; opacity: 9;">
        <h1 style="font-weight: bold; margin-bottom: 20px;">Embarques e desembarques</h1>
        <div *ngFor="let item of viagem.embarque" style="margin-left: 10px;">
          <li>{{item}}</li>
        </div>
      </div>
    </div>

    <div class="d-flex align-center justify-content-center" style="gap: 10px; margin-bottom: 40px;">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-inner" style="box-shadow: 4px 5px 17px -4px #3d3d3d;">
          <div *ngFor="let image of fotos; let i = index" class="carousel-item" [class.active]="i === 0">
            <img [src]="image.file" class="d-block style-img">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #venda let-modal>

  <div class="header-modal">
    <div class="title-modal">
      Seja um Agente!
    </div>
  </div>
  <form [formGroup]="form_venda">
    <div style="display: flex; align-items: center; flex-direction: column;">

      <div
        class="content-inputs">

        <div class="input-label">
          <label for="">Viagem</label>
          <select formControlName="viagem" style="width: 350px;">
            <option value="">Selecione uma opção</option>
            <option value="{{item.titulo}}" *ngFor="let item of viagens">{{item.titulo}}</option>
          </select>
        </div>

        <div class="input-label">
          <label for="">Usuário Agente</label>
          <select formControlName="forma_pagamento" style="width: 350px;">
            <option value="">Selecione uma opção</option>
            <option value="Cartão Minha Excursão">Cartão Minha Excursão</option>
            <option value="Cartão próprio">Cartão próprio</option>
            <option value="Crédito à vista">Crédito à vista</option>
            <option value="Crédito parcelado">Crédito parcelado</option>
            <option value="Débito">Débito</option>
            <option value="Dinheiro">Dinheiro</option>
            <option value="Pix">Pix</option>
          </select>
        </div>

      </div>

      <div
        class="content-inputs">

        <div class="input-label">
          <label for="">Data da reserva</label>
          <input style="width: 350px !important;" type="date" formControlName="data_reserva">
        </div>

        <div class="input-label">
          <label for="">Data do pagamento</label>
          <input style="width: 350px !important;" type="date" formControlName="data_pagamento">
        </div>

      </div>

      <div
        class="content-inputs">

        <div class="input-label">
          <label for="">Clientes</label>
          <select formControlName="cliente" style="width: 350px;">
            <option value="">Selecione uma opção</option>
            <option value="{{item.nome}}" *ngFor="let item of clientes">{{item.nome}}</option>
          </select>
        </div>

        <div class="input-label">
          <label for="">Status do pagamento</label>
        <select formControlName="status_pagamento" style="width: 350px;">
          <option value="">Selecione uma opção</option>
          <option value="Pago">Pago</option>
          <option value="Em andamento">Em andamento</option>
          <option value="Sem pagamento">Sem pagamento</option>
        </select>
        </div>

      </div>

    </div>

  </form>

  <div class="footer-modal">
    <button class="btn-voltar" (click)="fecharModal()">Voltar</button>
    <button class="btn-salvar" (click)="post()">Salvar</button>
  </div>

</ng-template>

<app-footer></app-footer>
