<app-header></app-header>

<div class="content-vendas">
  <div style="padding-top: 25px;">
    <button class="button" routerLink="cadastrar-agente">Cadastrar agente</button>

  </div>
  <div class="container" style="padding-top: 10px;">
    <table class="table table-striped table-bordered table-hover align-middle">
      <thead class="table-dark">
        <tr>
          <th style="background-color: #F96C1B;" scope="col">Agente</th>
          <th style="background-color: #F96C1B;" scope="col">Nível de acesso</th>
          <th style="background-color: #F96C1B;" scope="col">Status</th>
          <th style="background-color: #F96C1B;" scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of agentes">
          <td>{{item.nome}}</td>
          <td>{{item.nivel_acesso}}</td>
          <td>{{item.status === 'true' ? "Ativo" : "Inativo"}}</td>
          <td>
            <button class="btn btn-primary btn-sm me-2" routerLink="editar-agente/{{item.id}}">
              <i class="bi bi-pencil"></i> Editar
            </button>
            <button class="btn btn-danger btn-sm" (click)="deletarAgente(item.id)">
              <i class="bi bi-trash"></i> Excluir
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
