<div class="header" *ngIf="innerWidth > 881">
  <div routerLink="/">
    <img class="logo" src="assets/logo.png" alt="">
  </div>
  <div class="menus-header">
    <a style="cursor: pointer; color: white; text-decoration: none;" href="/receptivos">
      Receptivos
    </a>
    <a style="cursor: pointer; color: white; text-decoration: none;" href="/circuitos">
      Circuitos
    </a>
    <a style="cursor: pointer; color: white; text-decoration: none;" href="/corporativos">
      Corporativos
    </a>
    <a style="cursor: pointer; color: white; text-decoration: none;" href="/eventos">
      Eventos
    </a>
  </div>
  <div class="content-button-header">
    <img src="assets/icon_whats.png" style="width: 65px; cursor: pointer;" (click)="whats()">
    <button (click)="openModal(agente)">SEJA UM AGENTE</button>
    <button routerLink="/login">LOGIN</button>
  </div>

</div>

<div class="header-responsive" *ngIf="innerWidth < 882">
  <div>
    <img class="logo" src="assets/logo.png" alt="">
  </div>
  <div (click)="abrirMenu()">
    <img src="assets/icon_menu.svg" style="width: 120%;">
  </div>
</div>

<div class="menu" *ngIf="this.menu && innerWidth < 882">
  <a style="cursor: pointer; color: white; text-decoration: none;" href="/receptivos">
    Receptivos
  </a>
  <a style="cursor: pointer; color: white; text-decoration: none;" href="/circuitos">
    Circuitos
  </a>
  <a style="cursor: pointer; color: white; text-decoration: none;" href="/corporativos">
    Corporativos
  </a>
  <a style="cursor: pointer; color: white; text-decoration: none;" href="/eventos">
    Eventos
  </a>
  <div class="content-button-header">
    <img src="assets/icon_whats.png" style="width: 65px; cursor: pointer;" (click)="whats()">
    <button (click)="openModal(agente)">SEJA UM AGENTE</button>
    <button routerLink="/login">LOGIN</button>
  </div>
</div>

<ng-template #agente let-modal>

  <div class="header-modal">
    <div class="title-modal">
      Seja um Agente!
    </div>
  </div>
  <form [formGroup]="form_agente">
    <div style="display: flex; align-items: center; flex-direction: column;">

      <div
        style="display: flex; align-items: center; justify-content: center; gap: 10px; width: 100%; margin-top: 20px;">

        <div class="input-label">
          <label for="">Nome</label>
          <input style="width: 350px !important;" type="text" formControlName="nome">
        </div>

        <div class="input-label">
          <label for="">Usuário Agente</label>
          <input style="width: 350px !important;" type="text" formControlName="usuario">
        </div>

      </div>

      <div
        style="display: flex; align-items: center; justify-content: center; gap: 10px; width: 100%; margin-top: 20px;">

        <div class="input-label">
          <label for="">E-mail</label>
          <input style="width: 350px !important;" type="text" formControlName="email">
        </div>

        <div class="input-label">
          <label for="">Senha</label>
          <input style="width: 350px !important;" type="text" formControlName="senha">
        </div>

      </div>

    </div>

  </form>

  <div class="footer-modal">
    <button class="btn-voltar" (click)="fecharModal()">Voltar</button>
    <button class="btn-salvar" (click)="post()">Salvar</button>
  </div>

</ng-template>