.table {
  margin-top: 20px;
}

.table th, .table td {
  vertical-align: middle;
  text-align: center;
}

.table .btn-sm {
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
}

.content-vendas{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


 /* From Uiverse.io by vikiWayne */
 .button {
  padding: 0.7em 0.5em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #F96C1B;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #F96C1B;
}

.button:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #F96C1B;
  box-shadow: 4px 5px 17px -4px #F96C1B;
}

.button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #F96C1B;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.button:hover::before {
  width: 250%;
}
